<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/">Setup</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/01-introduction.html">Introduction</a> and <a href="https://bham-carpentries.github.io/image-processing/02-image-basics.html">Image Basics</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/03-skimage-images.html">Working with skimage</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/04-drawing.html">Drawing and Bitwise Operations</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/05-creating-histograms.html">Creating Histograms</a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/06-blurring.html">Blurring Images</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/07-thresholding.html">Thresholding</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/08-connected-components.html">Connected Component Analysis</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/09-challenges.html">Capstone Challenge</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://bham-carpentries.github.io/image-processing/10-multidimensional-data.html">Multidimensional Data</a></td> </tr>
      <tr> <td>15:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
